{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "entry",
            "targets": {
                "browsers": [
                    "chrome >= 61",
                    "edge >= 15",
                    "firefox >= 52",
                    "ie >= 11"
                ]
            },
            "modules": false
        }]
    ],
    "plugins": [
        ["@babel/plugin-transform-for-of"]
    ]
}